// app global css in SCSS form
body {
  font-family: "Poppins", sans-serif;
}

.gradient-bg {
  background: rgb(48, 71, 94);
  background: linear-gradient(
    45deg,
    rgba(48, 71, 94, 1) 0%,
    rgba(53, 73, 94, 1) 56%,
    rgba(66, 184, 131) 100%
  );
}

.glassy {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.border-positive {
  border-top: 2px solid $positive !important;
}
