// src/css/quasar.variables.scss

$primary: #35495e;
$secondary: #bbe1fa;
$accent: #8fd6e1;

$dark: #1d1d1d;
$dark-page: #30475e;

$positive: #42b883;
$negative: #84142d;
$info: #dddddd;
$warning: #f2c037;
