// src/css/quasar.variables.scss

$primary: #f05454;
$secondary: #bbe1fa;
$accent: #750550;

$dark: #1d1d1d;
$dark-page: #30475e;

$positive: #26a69a;
$negative: #84142d;
$info: #dddddd;
$warning: #f2c037;
